/* chatbot.css */

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('./chatbot_message.css');
@import url('./chatbot_sidebar.css');
@import url('./chatbot_input.css');
@import url('./chatbot_dialog.css');

/* Chat Wrapper */
.chat-wrapper {
  align-items: center;  /* 가로 중앙 */
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

.chat-wrapper.sidebar-collapsed .sidebar-toggle-btn {
  left: 10px; /* 사이드바가 접혔을 때 버튼 위치 */
}

/* Main Chat Area */
.chat-main {
  flex: 1;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  /* 가로 중앙 */
  justify-content: flex-start;  /* 세로 중앙 */
  max-width: 800px; /* 최대 너비 설정 */
  transition: margin-left 0.3s ease; /* 부드러운 전환 */
}

/* Chat Title */
.chat-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
