.custom-card {
  height: 450px;
}

.custom-image-top {
  height: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#korea-map {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

#korea-map path {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1;
  transition: all 0.3s ease;
}

#korea-map path:hover {
  fill: orange;
  cursor: pointer;
  transform: scale(1.02);
  transform-origin: center;
}

