{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}{% endblock %}

    
</head>
<body>

    <div class="top-header">
        <h1 > 여행 나래 </h1>
    </div>
   
    <div class="sidebar">
    <h2>📂 메뉴</h2>
    <ul>
      <li><a href="{% url 'home'%}">홈</a></li>
      <li><a href="{% url 'chatbot'%}">챗봇</a></li>
      <li><a href="{% url 'board'%}">게시판</a></li>
      <li><a href="{% url 'login'%}">로그인</a></li>
    </ul>
  </div>
  
  <div class="content">
    {% block content %}
    <!-- 본문 내용이 들어갈 자리 -->
    {% endblock %}
  </div>
    
</body>
</html>